<html>
   <head>
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='places.css') }}">
   </head>
   <body>
      <h1>New Spot</h1>
      <form action="#" method = 'post'>
         <p>Name:</p>
         <input type ='text' size='32' name='name'>
         <p>Details:</p>
         <input type ='text' size='32' name='details'>
         <p>Charge:</p>
         <input type ='text' size='32' name='charge'>
         <p>Course:</p>
         <input type ='checkbox'  name='course' value ='mosque'>mosque</br>
         <input type ='checkbox'  name='course' value ='fort'>fort</br>
         <input type ='checkbox' name='course' value ='seenary'>seenary</br>
         <input type ='checkbox'  name='course' value ='piligrimage'>piligrimage</br>
         </br>
         <input type='submit' value='Create'>
      </form>
   </body>
   </html
